In [36]:
import pandas as pd
import random as ra
import numpy as np
import warnings

warnings.filterwarnings('ignore')

## Задание 1

Создадим вспомогательные функции для разделения списка республик случайным образом на 3 части и для сложения 2-мерного массива в одномерный (np.flatten() не подходит)<br>get_random_departs возвращает список из 3 списков, каждый из которых относится к соответствующей категории отраслей, ключи представлены ниже.

In [37]:
republics = ['РСФСР', 'Украинская ССР', 'Белорусская ССР', 'Узбекская ССР',
          'Казахская ССР', 'Грузинская ССР', 'Азербайджанская ССР',
          'Литовская ССР', 'Молдавская ССР', 'Латвийская ССР', 'Киргизская ССР',
          'Таджикская ССР', 'Армянская ССР', 'Туркменская ССР', 'Эстонская ССР']

departs = ['Сельское хозяйство', 'Легкая промышленность', 'Тяжелая промышленность группы А',
           'Тяжелая промышленность группы Б', 'Военно промышленный комплекс',
           'Наука', 'Химическая промышленность']

def get_random_departs(departs):
    deps = departs.copy()
    r_deps = []
    for i in range(3):
        ra.shuffle(deps)
        
        size = ra.randint(1, len(deps) - 2 + i)
        sampl = deps[:size]
        
        if i == 2:
            sampl = deps
        
        r_deps.append(sampl)
        
        deps = deps[size:]
        
    return r_deps


def l_flatten(lst):
    temp_list = []
    for el in lst:
        try:
            temp_list.extend(el)
        except TypeError:
            temp_list.append(el)
    return temp_list

Создадим датафрейм с характеристиками для каждой республики и заполним его случайным образом отраслями, а также подсчитаем индексы развития республик в целом

In [38]:
repubs = sorted(ra.sample(republics, ra.randint(3, 15)))
data = [(repub, '', '', '', 0, 0) for repub in repubs]
data = pd.DataFrame(data, columns=['Название республики', 'Избыточно развитые', 'Сбалансированно развитые', 'Слабо развитые',
                             'Индекс избыточно развитых', 'Индекс слабо развитых'])
data

,Название республики,Избыточно развитые,Сбалансированно развитые,Слабо развитые,Индекс избыточно развитых,Индекс слабо развитых
0,Азербайджанская ССР,,,,0,0
1,Белорусская ССР,,,,0,0
2,Грузинская ССР,,,,0,0
3,Казахская ССР,,,,0,0
4,Киргизская ССР,,,,0,0
5,Латвийская ССР,,,,0,0
6,Молдавская ССР,,,,0,0
7,Таджикская ССР,,,,0,0
8,Туркменская ССР,,,,0,0
9,Узбекская ССР,,,,0,0
10,Украинская ССР,,,,0,0
11,Эстонская ССР,,,,0,0

In [39]:
keys = ['Избыточно развитые', 'Сбалансированно развитые', 'Слабо развитые']
for i in range(len(data)):
    deps = get_random_departs(departs)
    for j in range(3):
        data.at[i, keys[j]] = deps[j]
data['Индекс избыточно развитых'] = data['Избыточно развитые'].apply(len)
data['Индекс слабо развитых'] = -data['Слабо развитые'].apply(len)
data

,Название республики,Избыточно развитые,Сбалансированно развитые,Слабо развитые,Индекс избыточно развитых,Индекс слабо развитых
0,Азербайджанская ССР,"[Военно промышленный комплекс, Сельское хозяйс...","[Химическая промышленность, Тяжелая промышленн...","[Легкая промышленность, Наука]",3,-2
1,Белорусская ССР,"[Химическая промышленность, Наука, Тяжелая про...","[Сельское хозяйство, Тяжелая промышленность гр...",[Военно промышленный комплекс],4,-1
2,Грузинская ССР,"[Легкая промышленность, Химическая промышленно...","[Военно промышленный комплекс, Сельское хозяйс...",[Наука],2,-1
3,Казахская ССР,"[Тяжелая промышленность группы Б, Легкая промы...",[Химическая промышленность],"[Сельское хозяйство, Тяжелая промышленность гр...",4,-2
4,Киргизская ССР,"[Тяжелая промышленность группы А, Наука, Тяжел...",[Химическая промышленность],[Легкая промышленность],5,-1
5,Латвийская ССР,"[Тяжелая промышленность группы А, Тяжелая пром...",[Химическая промышленность],[Наука],5,-1
6,Молдавская ССР,"[Тяжелая промышленность группы А, Сельское хоз...","[Химическая промышленность, Наука]",[Военно промышленный комплекс],4,-1
7,Таджикская ССР,"[Легкая промышленность, Наука]","[Военно промышленный комплекс, Тяжелая промышл...",[Тяжелая промышленность группы А],2,-1
8,Туркменская ССР,"[Сельское хозяйство, Тяжелая промышленность гр...","[Наука, Военно промышленный комплекс, Тяжелая ...","[Химическая промышленность, Легкая промышленно...",2,-2
9,Узбекская ССР,"[Тяжелая промышленность группы А, Химическая п...","[Военно промышленный комплекс, Легкая промышле...","[Сельское хозяйство, Тяжелая промышленность гр...",2,-3
10,Украинская ССР,"[Тяжелая промышленность группы А, Наука, Сельс...",[Легкая промышленность],[Тяжелая промышленность группы Б],5,-1
11,Эстонская ССР,"[Сельское хозяйство, Легкая промышленность, Тя...",[Наука],[Тяжелая промышленность группы А],5,-1

In [40]:
deps = [(dep, 0, 0, 0, 0) for dep in departs]
deps = pd.DataFrame(deps, columns=['Отрасль', 'Избыточно развитые', 'Сбалансированно развитые',
                                   'Слабо развитые', 'Общий индекс развития'])
deps

,Отрасль,Избыточно развитые,Сбалансированно развитые,Слабо развитые,Общий индекс развития
0,Сельское хозяйство,0,0,0,0
1,Легкая промышленность,0,0,0,0
2,Тяжелая промышленность группы А,0,0,0,0
3,Тяжелая промышленность группы Б,0,0,0,0
4,Военно промышленный комплекс,0,0,0,0
5,Наука,0,0,0,0
6,Химическая промышленность,0,0,0,0

Подсчитаем количество отраслей в каждой категории и заполним таблицу с данными отраслей в соответствие с массивами из первой таблицы

In [41]:
for key in keys:
    dep = l_flatten(data[key])
    deps[key] = deps['Отрасль'].apply(lambda x: dep.count(x))
        
deps['Общий индекс развития'] = deps['Избыточно развитые'] - deps['Слабо развитые']
deps

,Отрасль,Избыточно развитые,Сбалансированно развитые,Слабо развитые,Общий индекс развития
0,Сельское хозяйство,7,3,2,5
1,Легкая промышленность,7,2,3,4
2,Тяжелая промышленность группы А,7,2,3,4
3,Тяжелая промышленность группы Б,6,4,2,4
4,Военно промышленный комплекс,6,4,2,4
5,Наука,5,3,4,1
6,Химическая промышленность,5,6,1,4

Создадим таблицу для сбора статистики о пиковых отраслях.<br>Индекс развития сбалансированной отрасли не связан с индексами для развитой и отстающей отраслей, потому что индекс сбалансированности не помножен на свой коэффициент (0) для сохранения значения.<br>В некоторых полях отраслей может быть несколько из-за схожести показателей.

In [42]:
stats = pd.DataFrame(columns=['Название отрасли', 'Индекс развития'])
desces = ['Самая развитая отрасль', 'Самая сбалансированная отрасль', 'Самая отстающая отрасль']
for key, desc in zip(keys, desces):
    dep = deps[deps[key] == deps[key].max()].to_dict('list')
    indx = dep[key][0] * (-1) ** (key == 'Слабо развитые')
    stats.loc[desc] = ', '.join(dep['Отрасль']), indx
stats

,Название отрасли,Индекс развития
Самая развитая отрасль,"Сельское хозяйство, Легкая промышленность, Тяж...",7
Самая сбалансированная отрасль,Химическая промышленность,6
Самая отстающая отрасль,Наука,-4

Статистика отраслей по показателям развития со всех стран

In [43]:
deps[['Отрасль', 'Общий индекс развития']].sort_values('Общий индекс развития', ascending=False)

                           Отрасль  Общий индекс развития
0               Сельское хозяйство                      5
1            Легкая промышленность                      4
2  Тяжелая промышленность группы А                      4
3  Тяжелая промышленность группы Б                      4
4     Военно промышленный комплекс                      4
6        Химическая промышленность                      4
5                            Наука                      1

## Задание 2

In [77]:
def calc_coord(time, veloc, accel=1, x_0=0):
    return x_0 + veloc * time + accel * time ** 2 / 2


time, veloc = map(float, input('time, velocity: ').split())
print(calc_coord(time, veloc))

time, veloc, accel = map(float, input('time, velocity, acceleration: ').split())
print(calc_coord(time, veloc, accel))

time, veloc, accel, x_0 = map(float, input('time, velocity, acceleration, initial coordinate: ').split())
print(calc_coord(time, veloc, accel, x_0))

time, veloc, x_0 = map(float, input('time, velocity, initial coordinate: ').split())
print(calc_coord(time, veloc, x_0=x_0))

time, velocity: 2 4.3
10.6
time, velocity, acceleration: 2 4.3 5.1
18.799999999999997
time, velocity, acceleration, initial coordinate: 2 4.3 5.1 6.38
25.18
time, velocity, initial coordinate: 2 4.3 6.38
16.98

## Задание 3

In [78]:
def sum_digits(numb):
    return sum(map(int, list(str(numb))))

for _ in range(4):
    print(f'The sum of the digits is {sum_digits(int(input()))}')

1872
The sum of the digits is 18
1000002
The sum of the digits is 3
57846291
The sum of the digits is 42
000081
The sum of the digits is 9

## Задание 4

In [79]:
products = ['котел', 'турбина', 'проволока', 'лента', 'шплинт',
            'шпонка', 'гвозди', 'шурупы', 'болты', 'винты',
            'дюбели', 'анкеры', 'гайки', 'шпильки', 'штифты',
            'шайбы', 'конфирматы', 'подшипники', 'талрепы', 'коуши']

In [82]:
def get_unique(products):
    ra.shuffle(products)
    set_1 = set(ra.sample(products, ra.randint(3, len(products))))
    
    ra.shuffle(products)
    set_2 = set(ra.sample(products, ra.randint(3, len(products))))
    
    return set_1.symmetric_difference(set_2), set_1, set_2


diff, set_1, set_2 = get_unique(products)
print(*sorted(set_1))
print(*sorted(set_2))
print('Symmetric difference:')
print(*sorted(diff))

анкеры болты винты гайки гвозди дюбели конфирматы котел коуши подшипники проволока талрепы турбина шайбы шплинт шпонка штифты
анкеры болты винты гайки гвозди дюбели конфирматы коуши лента подшипники проволока талрепы турбина шайбы шпильки шплинт шпонка штифты шурупы
Symmetric difference:
котел лента шпильки шурупы

## Задание 5

Создадим датафрейм некоторых сотрудников SMS Demag

In [35]:
management = pd.DataFrame(index=['Burkhard Dahmen', 'Torsten Heising', 'Prof. Dr. Hans Ferkel', 'Michael Rzepczyk',
                                 'Prof. Dr.-Ing. Katja Windt', 'Dr.-Ing. E. h. Heinrich Weiss',
                                 'Edwin Eichler', 'Doug Dunworth', 'Dr. Yu Sun', 'Elena Ruleva',
                                 'Georges Rassel', 'Ulrich Greiner Pachter', 'Marco Asquini'],
                          columns=['возраст', 'должность', 'номер рабочего места', 'наличие доступа к тайне'],
                          data=[[58, 'генеральный директор, председатель правления', 1, 'да'],
                                [58, 'финансовый директор', 9, 'да'],
                                [61, 'технический директор', 4, 'да'],
                                [56, 'главный операционный директор', 18, 'да'],
                                [53, 'профессор глобальной производственной логистики', 28, 'нет'],
                                [80, 'председатель комитета акционеров', 36, 'нет'],
                                [64, 'председатель наблюдательного совета', 29, 'да'],
                                [54, 'генеральный директор американского региона', 42, 'нет'],
                                [82, 'генеральный директор региона Китай', 87, 'нет'],
                                [53, 'генеральный директор региона СНГ/Россия', 80, 'нет'],
                                [58, 'генеральный директор региона Европа', 45, 'нет'],
                                [62, 'генеральный директор региона Индия и Азиатско-Тихоокеанского региона', 64, 'нет'],
                                [70, 'генеральный директор региона Италия, Ближний Восток и Африка', 32, 'нет']])
management

,возраст,должность,номер рабочего места,наличие доступа к тайне
Burkhard Dahmen,58,"генеральный директор, председатель правления",1,да
Torsten Heising,58,финансовый директор,9,да
Prof. Dr. Hans Ferkel,61,технический директор,4,да
Michael Rzepczyk,56,главный операционный директор,18,да
Prof. Dr.-Ing. Katja Windt,53,профессор глобальной производственной логистики,28,нет
Dr.-Ing. E. h. Heinrich Weiss,80,председатель комитета акционеров,36,нет
Edwin Eichler,64,председатель наблюдательного совета,29,да
Doug Dunworth,54,генеральный директор американского региона,42,нет
Dr. Yu Sun,82,генеральный директор региона Китай,87,нет
Elena Ruleva,53,генеральный директор региона СНГ/Россия,80,нет
Georges Rassel,58,генеральный директор региона Европа,45,нет
Ulrich Greiner Pachter,62,генеральный директор региона Индия и Азиатско-...,64,нет
Marco Asquini,70,"генеральный директор региона Италия, Ближний В...",32,нет